In [20]:
x="hello hex"

In [21]:
y=" nepal"

In [22]:
z=x+y

In [24]:
print(z)

hello hex nepal

In [6]:
a=input("first name :")
b=input("last name : ")

first name :sajan
last name :  machamasi

In [7]:
c=a+b

In [11]:
print("my name is " +c)

my name is sajan machamasi

In [13]:
num1=int(input("enter the number :"))
num2=int(input("enter the number2 :"))

enter the number :1
enter the number2 :2

In [14]:
sum1=num1+num2

In [15]:
print(sum1)

3

In [25]:
num4=float(input("enter the number :"))
num3=float(input("enter the number2 :"))

enter the number :0.6
enter the number2 :0.7

In [26]:
sub2=num4-num3

In [27]:
print(sub2)

-0.09999999999999998

In [5]:
num=float(input("enter the number :"))
num5=float(input("enter the number2 :"))

enter the number :1
enter the number2 :2

In [6]:
multi=num*num5

In [7]:
multi

2.0

In [10]:
print("the multiple is" , multi)

the multiple is 2.0

In [12]:
multi*multi

4.0

In [16]:
multi//multi

1.0